extends layout
block page
  - var menu = 'post'
block content
   h2 Utwórz artykuł
    div= error
    div.col-md-8
      form(action="/post", method="POST", role="form")
        div.form-group
          label(for="title") Tytuł
          input#title.form-control(name="title", type="text", placeholder="JavaScript jest świetny")
        div.form-group
          label(for="slug") Ścieżka
          input#slug.form-control(name="slug", type="text", placeholder="js-good")
          span.help-block Ten tekst będzie częścią adresu URL
        div.form-group
          label(for="text") Tekst
          textarea#text.form-control(rows="5", name="text", placeholder="Text")
        p
          button.btn.btn-primary(type="submit") Zapisz
